/* LoginPage.css */

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #008b8b; /* Define o fundo preto */
    font-family: Arial, sans-serif; /* Adiciona uma fonte padrão ao corpo */
  }
  
  .logo {
    position: absolute;
    top: 0px; /* Ajusta a posição da logo com base no novo padding do header */
    left: 0px; /* Ajusta a posição da logo da esquerda */
    height: 80px; /* Ajuste a altura da logo conforme necessário */
  }
  
  .header {
    background-color: #000;
    color: #FFD700;
    padding: 20px 0; /* Aumenta o padding para aumentar a altura do header em aproximadamente 30% */
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente o conteúdo do header */
  }
  
  .logoSpace img {
    height: 60px;
  }
  
  .navButtons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .navButtons li {
    margin: 0 15px;
  }
  
  .navButtons a {
    color: #FFD700;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navButtons a:hover {
    text-decoration: underline;
  }
  
  .main {
    padding: 110px 20px 60px; /* Aumenta o padding-top para compensar o header fixo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha todos os itens horizontalmente ao centro */
    justify-content: center; /* Alinha todos os itens verticalmente ao centro */
    text-align: center;
    color: #FFD700;
  }
  
  .input {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #333; /* Cor de fundo para inputs */
    color: #FFD700; /* Cor do texto para inputs */
  }
  
  .button {
    width: 300px;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: orange; /* Cor de fundo do botão ao passar o mouse */
  }
  
  .text {
    margin-top: 20px;
  }
  
  .link {
    color: #FFD700;
    text-decoration: none;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .footer {
    background-color: #000;
    color: #FFD700;
    padding: 42px 0; /* Aumenta o padding para aumentar a altura do footer em aproximadamente 30% */
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }